services:
  resin4058:
    image: reajason/resin:4.0.58
    container_name: resin4058
    ports:
      - "8080:8080"
    environment:
      JAVA_OPTS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005
    volumes:
      - ../../../vul-webapp/build/libs/vul-webapp.war:/usr/local/resin4/webapps/app.war