<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>js</servlet-name>
        <servlet-class>ScriptEngineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>js</servlet-name>
        <url-pattern>/js</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>java-deserialize</servlet-name>
        <servlet-class>JavaReadObjServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>java-deserialize</servlet-name>
        <url-pattern>/java_deserialize</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>b64</servlet-name>
        <servlet-class>Base64ClassLoaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>b64</servlet-name>
        <url-pattern>/b64</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>biginteger</servlet-name>
        <servlet-class>BigIntegerClassLaoderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>biginteger</servlet-name>
        <url-pattern>/biginteger</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reader</servlet-name>
        <servlet-class>TestReaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reader</servlet-name>
        <url-pattern>/reader</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>inputStream</servlet-name>
        <servlet-class>TestInputStreamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inputStream</servlet-name>
        <url-pattern>/inputStream</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>godzilla</filter-name>
        <filter-class>EmptyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>godzilla</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>