<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <!-- 用于 JSP 文件上传-->
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <!-- 用于脚本引擎执行 JS -->
    <servlet>
        <servlet-name>js</servlet-name>
        <servlet-class>ScriptEngineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>js</servlet-name>
        <url-pattern>/js</url-pattern>
    </servlet-mapping>

    <!-- 用于测试 Java 反序列化 -->
    <servlet>
        <servlet-name>java-deserialize</servlet-name>
        <servlet-class>JavaReadObjServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>java-deserialize</servlet-name>
        <url-pattern>/java_deserialize</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>el</servlet-name>
        <servlet-class>ELServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>el</servlet-name>
        <url-pattern>/el</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SpEL</servlet-name>
        <servlet-class>SpELServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpEL</servlet-name>
        <url-pattern>/spel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ognl</servlet-name>
        <servlet-class>OgnlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ognl</servlet-name>
        <url-pattern>/ognl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mvel</servlet-name>
        <servlet-class>MVELServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvel</servlet-name>
        <url-pattern>/mvel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>groovy</servlet-name>
        <servlet-class>GroovyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>groovy</servlet-name>
        <url-pattern>/groovy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jexl2</servlet-name>
        <servlet-class>JEXL2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jexl2</servlet-name>
        <url-pattern>/jexl2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jexl3</servlet-name>
        <servlet-class>JEXL3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jexl3</servlet-name>
        <url-pattern>/jexl3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jxpath</servlet-name>
        <servlet-class>JXPathServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jxpath</servlet-name>
        <url-pattern>/jxpath</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>aviator</servlet-name>
        <servlet-class>AviatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>aviator</servlet-name>
        <url-pattern>/aviator</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>velocity</servlet-name>
        <servlet-class>VelocityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>velocity</servlet-name>
        <url-pattern>/velocity</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>FreemarkerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>freemarker</servlet-name>
        <url-pattern>/freemarker</url-pattern>
    </servlet-mapping>


    <!-- 测试 listener 内存马 -->
    <!--    <listener>-->
    <!--        <listener-class>ErrorListener</listener-class>-->
    <!--    </listener>-->

    <!-- 测试 filter 内存马 -->
    <!--    <filter>-->
    <!--        <filter-name>godzilla</filter-name>-->
    <!--        <filter-class>ErrorHandler</filter-class>-->
    <!--    </filter>-->
    <!--    <filter-mapping>-->
    <!--        <filter-name>godzilla</filter-name>-->
    <!--        <url-pattern>/test_filter</url-pattern>-->
    <!--    </filter-mapping>-->
</web-app>